<%- include ("../partials/header") %>
<div class="container" style="margin-top: 5vw;">
    <div class="insidebook">
        <div class="bookdetails">
            <div class="thumbnail">
                <img src="<%= book.bookcover%>" width="300px";>
            </div>
            <div style="text-align:center;">
              <h4> Book Name : <%= book.bookname%></h4>
              <h4> Book Author : <%= book.bookauthor %></h4>
              <h4> Book Department : <%= book.bookdepartment %></h4>
            </div>
        </div>
        <div class="bookcomments">
             <h1 style="text-align: center;padding-top:2vw;color:rgb(255, 255, 255);">Comments</h1>
             <% book.comments.forEach(comment => { %>
               <p style="color:white;padding-left:5%"><strong> <%= comment.author %> </strong> - <%= comment.title%></p>
             <% }); %>
             <div style="padding-left:5%;">
                <a class="btn btn-success" href="/books/<%=book._id %>/comments/new">Create Comment</a>
             </div>
            
        </div>
    </div>
    <div class="edit">
        <div style="margin-right:3%;">
            <a class="btn btn-success" href="/books/<%= book._id %>/edit">Edit Book Details</a>
        </div>
        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <button class="btn btn-success btn-lg">delete</button>
        </form>
    </div>
</div>
<%- include ("../partials/footer") %>